body {
    font: 1rem sans-serif;
    background: #ECF0F1;
    background: linear-gradient(0.25turn, #7b99a6, #ebf8e1, #f3ddc6);
    /*just for the 20 points I prefer without a background */
    color: #000;
}