footer {

    .copyright,
    .logoarea {
        background-color: lightgrey;
        color: black;
        text-align: center;
        padding-top: 20px 0px;
        padding-bottom: 20px;
        width: 100%;
        font-size: .8rem;
        text-shadow: 2px 2px 5px grey;
    }

}