/* ==================================================

Responisv menue at the bottom
vertical if possible and for mobile horizontal

================================================== */
.navigation {
    width: 100%;
    background-color: darkgray;
    color: #10060f;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        li {
            flex: 1;
            text-align: center;


            a {
                display: inline-block;
                padding: 1rem;
                font-size: 1rem;
                text-decoration: none;
                white-space: nowrap;
                text-transform: uppercase;
                color: black;
                transition: transform 250ms linear, color 250ms linear;

                &:hover,
                &:focus,
                &:active {
                    background-color: rgba(255, 255, 255, 0.1);
                    transform: scale(1.2);
                }


            }
        }
    }
}

/* for mobile version switch to horizontal menue 
$media_mobile-max: 767px;*/

@media screen and (max-width: $media_mobile-max) {

    .header {
        padding: 0;
    }

    .navigation {
        ul {
            flex-direction: column;
            margin-left: 0;
            padding-left: 0;
            flex-wrap: wrap;

            li {
                padding: 0;
                border-bottom: 1px solid white;
            }
        }
    }
}